<body>  <h1 id="top">Link to Specific Part of a Page</h1>
  
  <a href="mailto:kaldilara@gmail.com">Email Dilara</a><br/ ><br/ >
  <a href="#section1">Link to Section 1</a><br />  
 <a href="#section2">Link to Section 2</a><br />  
  <a href="#section3">Link to Section 3</a><br /> 
  <a href="#section4">Link to Section 4</a><br />
  <a href="#section5"> Link to Section 5</a><br />
  <a href="#section6"> Link to Section 6</a><br />
  <a href="#section7">Link to Section 7</a><br />
  <a href="#section8">Link to Section 8</a><br />
  <a href="#section9">Link to Section 9</a><br />
  <a href="#section10">Link to Section 10</a><br />
  <h2 id="section1">Section 1</h2>  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc vel risus commodo viverra. Eget duis at tellus at urna condimentum mattis pellentesque id. Vulputate ut pharetra sit amet aliquam id diam maecenas ultricies. Metus dictum at tempor commodo. Quis auctor elit sed vulputate mi sit amet mauris. Suspendisse faucibus interdum posuere lorem ipsum. Et tortor at risus viverra adipiscing at in tellus integer. Sit amet tellus cras adipiscing enim eu turpis. Nisi scelerisque eu ultrices vitae auctor. Dolor sit amet consectetur adipiscing elit ut aliquam purus. Purus in massa tempor nec feugiat nisl. Amet est placerat in egestas erat imperdiet sed euismod nisi. Id porta nibh venenatis cras. Purus viverra accumsan in nisl. Ut aliquam purus sit amet luctus venenatis. Eget nullam non nisi est sit amet facilisis magna. Venenatis cras sed felis eget velit aliquet. Odio tempor orci dapibus ultrices in iaculis. Et netus et malesuada fames ac turpis.</p>  <h2 id="section2">Section 2</h2>  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc sed augue lacus viverra vitae congue eu. Sed sed risus pretium quam vulputate dignissim. Lorem ipsum dolor sit amet consectetur adipiscing elit. Nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Donec ultrices tincidunt arcu non. Dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Purus ut faucibus pulvinar elementum integer enim neque volutpat. Dui nunc mattis enim ut tellus. Sagittis nisl rhoncus mattis rhoncus urna. Tristique nulla aliquet enim tortor at auctor urna nunc. Sit amet mattis vulputate enim nulla aliquet. Adipiscing at in tellus integer. Mauris pharetra et ultrices neque. Amet dictum sit amet justo donec enim diam vulputate. Blandit libero volutpat sed cras ornare arcu dui. Nibh venenatis cras sed felis. Malesuada proin libero nunc consequat interdum varius sit. Ultricies mi eget mauris pharetra et. Id porta nibh venenatis cras.</p>  <h2 id="section3">Section 3</h2>  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis auctor elit sed vulputate mi. Eget nunc lobortis mattis aliquam faucibus purus. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Lobortis feugiat vivamus at augue eget arcu dictum varius. Morbi non arcu risus quis varius quam quisque. Arcu ac tortor dignissim convallis aenean et tortor. Massa enim nec dui nunc mattis enim ut tellus elementum. Vitae tempus quam pellentesque nec nam aliquam. Porta lorem mollis aliquam ut porttitor leo a diam sollicitudin. Vivamus at augue eget arcu dictum varius duis at. Ut aliquam purus sit amet luctus venenatis lectus magna. Viverra mauris in aliquam sem fringilla ut morbi. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Pretium quam vulputate dignissim suspendisse in. Iaculis nunc sed augue lacus viverra vitae congue.</p> 
  <h2 id= "section4">Section 4</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eget arcu dictum varius duis. Nibh nisl condimentum id venenatis a condimentum. Lobortis feugiat vivamus at augue. Dictum non consectetur a erat nam at. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Semper viverra nam libero justo laoreet sit amet cursus. Porta lorem mollis aliquam ut porttitor. Est ullamcorper eget nulla facilisi etiam dignissim. Ac tincidunt vitae semper quis lectus. Vestibulum sed arcu non odio euismod lacinia at quis. Nibh sit amet commodo nulla facilisi nullam vehicula. Quam pellentesque nec nam aliquam. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus. Enim lobortis scelerisque fermentum dui faucibus in ornare quam. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Nisl tincidunt eget nullam non.</p>
  
  <h2 id= "section5">Section 5</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut placerat orci nulla pellentesque dignissim enim sit amet. Facilisis magna etiam tempor orci eu lobortis. Diam quam nulla porttitor massa id neque aliquam. Elementum integer enim neque volutpat ac. Morbi tempus iaculis urna id. Pellentesque eu tincidunt tortor aliquam nulla facilisi cras fermentum. Urna nunc id cursus metus aliquam eleifend mi in. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Laoreet sit amet cursus sit amet dictum. Senectus et netus et malesuada fames ac turpis egestas. Id diam maecenas ultricies mi eget mauris pharetra. Malesuada proin libero nunc consequat interdum varius sit amet mattis. Quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit. Ut lectus arcu bibendum at. Mi bibendum neque egestas congue quisque egestas diam in arcu. Enim nec dui nunc mattis enim ut tellus elementum sagittis. Pellentesque dignissim enim sit amet venenatis urna.</p>
  
  <h2 id= "section6">Section 6</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nascetur ridiculus mus mauris vitae ultricies leo. At tempor commodo ullamcorper a lacus vestibulum. Placerat orci nulla pellentesque dignissim. Pellentesque habitant morbi tristique senectus et netus et malesuada. Volutpat lacus laoreet non curabitur gravida arcu ac. Morbi non arcu risus quis. Duis ut diam quam nulla porttitor massa id neque aliquam. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Id venenatis a condimentum vitae sapien pellentesque habitant morbi. Fusce id velit ut tortor. Tincidunt nunc pulvinar sapien et. Penatibus et magnis dis parturient montes nascetur ridiculus. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Quam viverra orci sagittis eu volutpat.</p>
  
  <h2 id= "section7">Section 7</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat in fermentum posuere urna nec tincidunt praesent semper feugiat. Pretium quam vulputate dignissim suspendisse in est. Amet justo donec enim diam vulputate ut pharetra sit amet. Varius morbi enim nunc faucibus a pellentesque sit amet porttitor. Tincidunt dui ut ornare lectus sit. Nunc sed augue lacus viverra vitae congue eu consequat ac. Suspendisse in est ante in nibh mauris cursus mattis. Maecenas accumsan lacus vel facilisis. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Diam maecenas ultricies mi eget mauris pharetra et. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. Natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Elementum curabitur vitae nunc sed. Non odio euismod lacinia at. Quis ipsum suspendisse ultrices gravida dictum.</p>
  
  <h2 id= "section8">Section 8</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aenean euismod elementum nisi quis eleifend quam adipiscing. Lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor. Et malesuada fames ac turpis egestas. In fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Neque aliquam vestibulum morbi blandit cursus risus at ultrices mi. In nulla posuere sollicitudin aliquam. Ultricies leo integer malesuada nunc vel risus commodo viverra. Dictum non consectetur a erat nam. Scelerisque purus semper eget duis at. Eget arcu dictum varius duis. Hendrerit dolor magna eget est lorem ipsum dolor sit. Arcu risus quis varius quam quisque. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Ultrices mi tempus imperdiet nulla malesuada. Et netus et malesuada fames ac turpis egestas sed tempus.</p>
  
  <h2 id= "section9">Section 9</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam. Ullamcorper eget nulla facilisi etiam dignissim. Sed vulputate odio ut enim blandit. Id aliquet lectus proin nibh nisl condimentum id. Quis enim lobortis scelerisque fermentum dui faucibus in ornare. Sollicitudin tempor id eu nisl nunc mi ipsum faucibus. Accumsan sit amet nulla facilisi morbi tempus iaculis urna id. Accumsan in nisl nisi scelerisque eu ultrices vitae. Nisl purus in mollis nunc sed. Ultrices mi tempus imperdiet nulla malesuada pellentesque elit eget. Massa id neque aliquam vestibulum morbi blandit. Neque aliquam vestibulum morbi blandit cursus risus at ultrices. Varius morbi enim nunc faucibus a pellentesque. Sit amet risus nullam eget. Aliquam eleifend mi in nulla. Eget egestas purus viverra accumsan in nisl nisi. Gravida rutrum quisque non tellus orci ac auctor augue. Netus et malesuada fames ac turpis egestas integer eget aliquet.</p>
  
  <h2 id= "section10">Section 10</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed ullamcorper morbi tincidunt ornare massa eget. Vel pretium lectus quam id leo. Nunc sed augue lacus viverra vitae congue eu consequat ac. Montes nascetur ridiculus mus mauris vitae ultricies leo integer. Velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum. Dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Senectus et netus et malesuada fames. Adipiscing elit ut aliquam purus. Imperdiet nulla malesuada pellentesque elit eget gravida cum sociis natoque. Risus feugiat in ante metus dictum at. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Amet consectetur adipiscing elit duis. Eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Id eu nisl nunc mi ipsum faucibus vitae. Enim ut sem viverra aliquet eget sit amet tellus. Urna porttitor rhoncus dolor purus non enim praesent.</p>
  
  <p><a href="#top">Go to Top</a></p></body>
