body{
    background-color: rgb(193, 221, 92);
    padding: 4px;
}

h1{
    font-family: 'Road Rage', cursive;
    font-weight: 100;
    font-size: 50px;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

p#demo{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

p#buttonFont{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
}