#col_1{
   background-color:#0040ff;
}
#col_2{
  background-color:#3671a3;
}
#col_3{
  background-color:#00ffff;
}
#col_4{
  background-color:#ff8000;
}
#col_5{
  background-color:#ff00ff;
}
#col_6{
  background-color:#bfff00;
}
#col_7{
  background-color:#ec1313;
}
#col_8{
  background-color:#ffe6e6;
}