body {
  background: linear-gradient(to right, darkgray, gray);
}

.panel {
  margin: 20px auto;
  width: 800px;
}

.container {
  background-color: lavender;
  border: 10px solid #4b2e83;
  margin-top: 20px;
}

#su {
  background-color: #990000;
  color: lightgray;
}

#or {
  background-color: #154733;
  color: yellow;
}

#wsu {
  background-color: #981e32;
  color: #5e6a71;
}

#cal {
  background-color: #081f3f;
  color: #fcb326;
}

#uw {
  background-color: #4b2e83;
  color: #b7a57a;
}

#osu {
  background-color: #252525;
  color: #cc4500;
}