body{
    background-color: pink;
    padding: 4px;
}

h1{
    font-family: 'Road Rage', cursive;
    font-weight: 100;
    font-size: 50px;
}

label{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
}

input{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 50;
    font-size: 15px;
}

p#buttonFont{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 200;
    font-size: 20px;
}