<!-- Side Color Blue -->
<table border="1" width="900" height="600" bgcolor="blue">
  <!-- Red and White Colums   -->
  <tr>
    <td width="350" rowspan="7">
      <table width="350" cellspacing="0"cellpadding="0"align="center"style="color:white; text-align:center; font-size: 22px;">
        <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr> 
        
        <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr> 
        
        <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr> 
        
         <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr> 
        
         <tr>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
          <td>*</td>
        </tr> 
   
        </table> 
    <td bgcolor="red" colspan="1"></td>
  <tr>
    <td bgcolor="white" colspan="1"></td>
  </tr> ... <tr>
    <td bgcolor="red" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="red" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="red" colspan="1"></td>
  </tr>
  <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
        <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
        <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
        <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
         </tr>
        <tr>
    <td bgcolor="white" colspan="2"></td>
  </tr>
        <tr>
    <td bgcolor="red" colspan="2"></td>
  </tr>
</table>